body
{
	background-color:#d1e5ee;
}

body, p, h1, h2, h3, table, td, th, ul, ol, textarea, input, blockquote
{
	font-family: helvetica,arial,sans-serif;
}

a:link
{
	color: #0011EE;
	text-decoration: none;
}

a:visited
{
	color: #0066FF;
	text-decoration:none;
}

a:hover
{
	color: #CC0000;
	text-decoration: underline;
}

table
{
	background-color:#ffffff;
}

h1
{
	font-size:24px;
	text-align:center;
}

h2
{
	font-size:18px;
	padding-left:5px;
	padding-top:10px;
}

h3
{
	font-size:14px;
	padding-left:10px;
	padding-top:10px;
}

h4
{
	font-size:12px;
	padding-left:20px;
}

p, li, blockquote
{
	font-size:12px;
	padding-left:20px;
	padding-right:20px;
}

td
{
	font-size:12px;
}

p.sidebar
{
	padding-left:10px;
	padding-right:10px;
}

td.leftlogo
{
	border:1px solid #000;
}

td.toprow
{
	border-top:1px solid #000;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
}

td.leftpanel
{
	border-left:1px solid #000;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
}

td.secondrow
{
	border-right:1px solid #000;
	border-bottom:1px solid #000;
}

	
